
<div class="parent">
    <a class="box div1" href="/about"> <h1 class="pico-color-grey-50">test</h1>  </a>
    <div class="box div2"> b</div>
    <div class="box div3"> c</div>
    <div class="box div4"> d</div>
    <div class="box div5"> e</div>
    <div class="box div6"> f</div>
    <div class="box div7">g </div>
    </div>
