<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <main class="container">
      <%- include('partials/navbar') %>
      <%- body %>
    </main>
  </body>
</html>
